body {
  	font-family: sans-serif;
	text-align: center;
	background-color: #151515;
	color: #fff;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#names {
	width: 50%;
}

#result {
	font-size: 32px;
	margin-top: 20px;
		}
button {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background: #1d4f5a;
	color: #fff;
}

